$primary-color:#FFFFFF;
$secondary-color:#F62F61;
$white-color:#FFFFFF;
$black-color: #292929;
$light-black-color:#2C2E35;
$grey-color:#6B6B6B;
$light-grey-color:#F6F6F6;
$search-black-color:#413F3D;
$border-color-light:#EAEAEA;
$gradient-color-light:#A8A8A82E;
$gradient-color-dark:#2D2D2D38;