#footer{
    margin: 39px 0px 32px;
    .wrapper{
        .links-container{
            border-radius: $radius-md;
            background: $light-grey-color;
            gap:$spacing-xs;
            height: 430px;
            @include flex(null,space-between);
            
             .links-wrapper{
                @include flex(null,space-between);
                 width: 100%;
                 margin:0px 80px 0px 80px;
                .links{
                    max-width: 112px;
                   
                   
                    .social-links{
                        
                        margin-top: $spacing-xxs;
                        @include flex(null,space-between);
                        
                    }
                    h3{
                        @include fontTypography($font-bold,15px,$black-color)
                    }

                }
                .contact-info-container{
                  
                     .contact-details{
                          .contact-info{
                            @include flex(null,flex-start);
                             gap:$spacing-xs;
                             margin-top: $spacing-xxs;
                              
                             img{
                                filter: invert(33%) sepia(53%) saturate(5633%) hue-rotate(328deg) brightness(98%) contrast(96%);    
                             }
                             span{
                                @include fontTypography($font-medium,$size-sm,$black-color)
                             }
                          }
                          p{
                            @include fontTypography($font-regular,$size-xs,$black-color);
                            margin-top: $spacing-xxs;
                            line-height: 20px;
                          }
                     }
                }

             }

            
        }
    }
}


@include smallScreens (700px) {
    #footer{
      .wrapper{
           .links-container{
              align-items: initial;
              justify-content: initial;

              .links-wrapper{
                  flex-direction: column-reverse;
                  justify-content: space-evenly;
              }
           }
      }
    }

}