
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Inter", sans-serif;
    line-height: 1.5;
  
  
}

.container{
    height: 38px;
    margin:0 auto;
    color:$white-color;
    background: $secondary-color;
}

.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    padding:0px 14px;
    position: relative;
}

.btn{
    padding:4px,16px,4px,16px;
    border-radius: 8px;
    border:1px solid $white-color;
    font-weight: 700;
    font-size: 14px;
    color:$white-color;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}
