

header{
    width: 100%;
    background-color: inherit;
    height: calc(100vh - 96px);
  
   
    .wrapper{
      nav{
        @include flex(null,space-between);
        margin-top: 48px;
        .nav-left{
          display: flex;
                .logo{
                  margin-right: 38px;;
                }
  
                ul{
                  @include flex(null);
                        li{
                          margin-right: 32px;
  
                          a{
                            @include fontTypography($font-regular,$size-md)
                          }
                          .sale{
                            color:$secondary-color;
                            font-weight: $font-bold;
                          }
                        }         
                }
              }
          .nav-right{
            @include flex(null);
            gap:$spacing-xs;
               .search-container{
                @include flex(null,space-between);
                    width: 225px;
                    height: 44px;
                    border-radius: 80px;
                    border: 1px solid #EAEAEA;
                    position: relative;
                        .search-placeholder{
                          @include fontTypography($font-regular,$size-xs);
                              margin-left: $spacing-lg;
                          
                        }
                        .icon-wrapper{
                          border:none;
                          width: initial;
                          height: initial;
                          border-radius: initial;
    
                              .icon-container{
                                margin:4px 4px 4px 0px;
                              }
                              
                        }
                      
                      }
                     
                      .mobile-menu{
                        display: none;
               } 
      }
    }
    .hero-container{
      max-width: 100%;
      width: 100%;
      height: 520px;
      position: relative;
      margin-top: 49px;
        .carousel-container{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: $radius-md;  
      
              }
  
              .left-arrow, .right-arrow{
                position: absolute;
                top:50%;
                &:hover{
                  background: $black-color;
                 overflow: hidden;
                 border-radius: 50%;
                 display: flex;
                }
            }
            .left-arrow{
              left:48px;
              z-index:10;
              
            }
            .right-arrow{
              right:47px;
              transform: rotate(180deg);
  
            }
                .hero-info{
                  position: absolute;
                  bottom: 48px;
                  left: 48px;
                  @include flex(null,space-between,null);
                    .hero-text{
                      max-width: 615px;
                      color: $white-color;
                        h2{
                           font-size: 40px;
                           font-weight: 900;
                           color: linear-gradient(90deg, #FFFFFF 0%, #DEDEDE 100%);
                        }
                        p{
                          color:#EEEEEE;
                        }
                    }
                   
                }
                .btn{
                  width:131px;
                  height: 40px;
                  background: transparent;
                  border-radius: $radius-sm;
                  padding: 4px 16px 4px 16px;
                  position:absolute;
                  bottom: 48px;
                  right:47px;
  
                &:hover{
                    background: $black-color;
                    overflow: hidden;
                  }
                } 
                
  }
  }
  }



/*=============MEDIA QUERIES(MEDIUM DEVICES)===========*/

@include desktop(1350px) {
  header{
     .wrapper{
        nav{
                .nav-left{
                        ul{
                                li {
                                  margin-right: $spacing-md;
                                          a{
                                            font-size: $size-sm;
                                          }
                                }
                        }
                }
                .nav-right{
                  .mobile-menu{
                    display: block;
                  }
               }
               
        }
     }
  }
   
  
}

@include desktop (1200px) {
  header{
     .wrapper{
        nav{

          display: grid;
             grid-template-columns: repeat(2,1fr);
             margin:48px  10px  0px;  
                .nav-left{
                  ul{
                       display: none;
                   }
                  }
                }

        }
     }
  }
   
  


/*=============MEDIA QUERIES(SMALL DEVICES)===========*/


@include smallScreens (700px) {
  header{
    .wrapper{
                    nav{         
                      margin-top: 24px;
                            .nav-left{
                              .logo{
                                margin-right: $spacing-xs;
                              }
                              ul{
                              display: none;
                              }
                            }

                            .nav-right{
                                .search-container{
                                          position: absolute;
                                          left: 0px;
                                          width: 96%;
                                          top: 43px;
                                          margin-left: 14px;
                                          margin-top:24px;
                                }
                            }
                    }
              .hero-container{
                margin-top: 100px;

                  .left-arrow, .right-arrow{
                    display: none !important;
                  }

                  .hero-info{
                    left:$spacing-lg;
                    bottom:90px;
                  }
                  .btn{
                    left:$spacing-lg;
                    right:0px;
                    bottom:30px;
                  }
                  }
       }
    }
 }
  
 @include smallScreens(370px) {
  header{
    .wrapper{
                    nav{    
                      margin: 48px 0px 0px;
                      .nav-right{
                        gap:4px;
                      }
                    }
                  }
                }
 }