

@mixin transition{
    transition: all 1.5s ease-in-out;
}

@mixin flex($dir, $content: center, $items: center){
    display: flex;
    flex-direction: $dir;
    justify-content: $content;
    align-items: $items;
}
@mixin fontTypography($weight:$font-regular, $size: $size-xs, $code: $light-black-color){
    font-weight: $weight;
    font-size: $size;
    color:$code;
}

@mixin desktop($width){
    @media(max-width: $width){
        @content;
    }
}
@mixin smallScreens($width){
    @media(max-width: $width){
        @content;
    }
}