
$font-regular:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;
$font-bolder:800;
$font-black:900;

$spacing-xxs: 8px;
$spacing-xs: 10px;
$spacing-sm: 11px;
$spacing-md: 15px;
$spacing-lg: 20px;
$size-xs:12px;
$size-sm:13px;
$size-small:14px;
$size-md:16px;
$size-lg:20px;
$size-xl:24px;
$size-xxl:28px;
$size-xxxl:36px;
$border-default: 1px solid grey;
$line-height-small:20px;
$radius-xs:4px;
$radius-sm:8px;
$radius-md:16px;
